<div class="card flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <label for="district" class="block font-bold">District</label>
    <p-select
      id="district"
      [(ngModel)]="criteria.district_key"
      [options]="districtOptions"
      optionLabel="name"
      optionValue="key"
      placeholder="Select District"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
    />
  </div>

  <div class="flex flex-col gap-2">
    <label for="bank" class="block font-bold">Bank</label>
    <p-select
      id="bank"
      [(ngModel)]="criteria.bank_key"
      [options]="bankOptions"
      optionLabel="name"
      optionValue="key"
      placeholder="Select Bank"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
    />
  </div>
  <div class="flex flex-wrap gap-2 justify-end">
    <p-button
      type="button"
      label="Reset"
      icon="pi pi-undo"
      severity="secondary"
      raised
      [loading]="!branches()"
      (click)="reset()"
    />
    <p-button
      type="button"
      label="Search"
      icon="pi pi-search"
      raised
      [loading]="!branches()"
      (click)="search()"
    />
  </div>
</div>

<p-table
  #dt
  *ngIf="isShowResults"
  [value]="branches()"
  [rows]="10"
  [columns]="cols"
  [paginator]="true"
  [globalFilterFields]="[
    'branch_key',
    'district_en',
    'bank_name_en',
    'branch_name',
    'address'
  ]"
  [tableStyle]="{ 'min-width': '75rem' }"
  [rowHover]="true"
  dataKey="branch_key"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} branchs"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 30, 50]"
  [loading]="!branches()"
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0">Search Result</h5>
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(dt, $event)"
          placeholder="Search keyword"
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th pSortableColumn="branch_key" style="min-width: 10rem">
        <b>Branch Key</b>
        <p-sortIcon field="branch_key" />
      </th>
      <th pSortableColumn="district_en" style="min-width: 8rem">
        <b>District</b>
        <p-sortIcon field="district_en" />
      </th>
      <th pSortableColumn="bank_name_en" style="min-width: 20rem">
        <b>Bank Name</b>
        <p-sortIcon field="bank_name_en" />
      </th>
      <th pSortableColumn="branch_name" style="min-width: 20rem">
        <b>Branch Name</b>
        <p-sortIcon field="branch_name" />
      </th>
      <th pSortableColumn="address" style="min-width: 20rem">
        <b>Address</b>
        <p-sortIcon field="address" />
      </th>
      <th pSortableColumn="is_active" style="min-width: 7rem">
        <b>Active</b>
        <p-sortIcon field="is_active" />
      </th>
      <th style="min-width: 12rem"></th>
    </tr>
  </ng-template>
  <ng-template #body let-branch>
    <tr>
      <td>{{ branch.branch_key || "-" }}</td>
      <td>{{ branch.district_en || "-" }}</td>
      <td>{{ branch.bank_name_en || "-" }}</td>
      <td>{{ branch.branch_name || "-" }}</td>
      <td>{{ branch.address || "-" }}</td>
      <td>
        <i
          [class]="branch.is_active == 1 ? 'pi pi-check' : 'pi pi-times'"
          [style]="branch.is_active == 1 ? 'color: green' : 'color: red'"
        ></i>
      </td>
      <td class="flex justify-center">
        <p-button
          icon="pi pi-info-circle"
          class="mr-2"
          [rounded]="true"
          [outlined]="true"
          (click)="openDetail(branch)"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <ng-container>
      <tr>
        <td [attr.colspan]="7" style="text-align: center">
          No records found.
        </td>
      </tr>
    </ng-container>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="branchDialog"
  [style]="{ width: '500px' }"
  header="Branch Detail"
  [modal]="true"
>
  <ng-template #content>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <label for="district" class="block font-bold">District</label>
        <p-select
          id="district"
          [(ngModel)]="branch.district_key"
          [options]="districtOptions"
          optionLabel="name"
          optionValue="key"
          placeholder="Select District"
          readonly
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="bank" class="block font-bold">Bank</label>
        <p-select
          id="bank"
          [(ngModel)]="branch.bank_key"
          [options]="bankOptions"
          optionLabel="name"
          optionValue="key"
          placeholder="Select Bank"
          readonly
        />
      </div>

      <div>
        <label for="branchName" class="block font-bold mb-3">Branch Name</label>
        <textarea
          id="branchName"
          pTextarea
          [(ngModel)]="branch.branch_name"
          maxlength="100"
          required
          rows="3"
          cols="20"
          autofocus
          fluid
          readonly
        ></textarea>
      </div>

      <div>
        <label for="address" class="block font-bold mb-3">Address</label>
        <textarea
          id="address"
          pTextarea
          [(ngModel)]="branch.address"
          maxlength="500"
          required
          rows="3"
          cols="20"
          fluid
          readonly
        ></textarea>
      </div>

      <div>
        <label for="serviceHours" class="block font-bold mb-3"
          >Service Hours</label
        >
        <p-editor
          id="serviceHours"
          [(ngModel)]="branch.service_hours"
          [style]="{ height: '150px' }"
          [readonly]="true"
        >
          <ng-template #header>
            <span class="ql-formats">
              <select class="ql-size">
                <option value="small"></option>
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
              </select>
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
              <button
                type="button"
                class="ql-strike"
                aria-label="Strike"
              ></button>
            </span>
          </ng-template>
        </p-editor>
      </div>

      <div>
        <span class="block font-bold mb-4">Active</span>
        <div class="grid grid-cols-12 gap-4">
          <div class="flex items-center gap-2 col-span-6">
            <p-radiobutton
              id="activeOption1"
              name="active"
              [value]="1"
              [(ngModel)]="branch.is_active"
              [disabled]="true"
            />
            <label for="activeOption1">Yes</label>
          </div>
          <div class="flex items-center gap-2 col-span-6">
            <p-radiobutton
              id="activeOption2"
              name="active"
              [value]="0"
              [(ngModel)]="branch.is_active"
              [disabled]="true"
            />
            <label for="activeOption2">No</label>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <label for="latitude" class="block font-bold mb-3">Latitude</label>
          <p-inputnumber
            id="latitude"
            [(ngModel)]="branch.latitude"
            mode="decimal"
            [max]="180"
            [maxFractionDigits]="16"
            fluid
            readonly
          />
        </div>
        <div class="col-span-6">
          <label for="longitude" class="block font-bold mb-3">Longitude</label>
          <p-inputnumber
            id="longitude"
            [(ngModel)]="branch.longitude"
            mode="decimal"
            [max]="180"
            [maxFractionDigits]="16"
            fluid
            readonly
          />
        </div>
      </div>

      <div>
        <label for="barrierFreeAccess" class="block font-bold mb-3"
          >Barrier Free Access</label
        >
        <textarea
          id="barrierFreeAccess"
          pTextarea
          [(ngModel)]="branch['barrier-free_access']"
          maxlength="500"
          required
          rows="3"
          cols="20"
          fluid
          readonly
        ></textarea>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" raised text (click)="closeDialog()" />
  </ng-template>
</p-dialog>
