<form [formGroup]="BankBranchForm" novalidate (ngSubmit)="onSubmit(BankBranchForm.value)">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Bank Branch Search</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Bank" formControlName="Bank">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Branch" formControlName="Branch">
            @if (BankBranchForm.controls['Branch'].hasError('required')) {
            <mat-error>First name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="District" formControlName="District">
              @if (BankBranchForm.controls['District'].hasError('required')) {
              <mat-error>District is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>